.titleContainer {
	width: 100%;
	height: min-content;
	background-color: #ffe5a2;
	font-family: 'Courier New', Courier, monospace;
	font-weight: 600;
	font-size-adjust: none;
	font-size: min(6vw, 48px);
	color: #040404;
	letter-spacing: 1rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0.5rem;
	padding-left: 0;
}

.logoStyle {
	max-width: 120px;
	max-height: 100px;
	width: 40%;
	height: 48%;
}
