.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 2rem;
	@media screen and (max-width: 1200px) {
		padding: 0 1rem;
	}
}

.buttonContainer {
	width: 100%;
	max-width: 1200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.start {
	width: 100%;
}

.backButton {
	display: flex;
	align-items: center;
	text-align: center;

	font-size: 1rem;
	color: #1c131480;
	border: solid 2px #1c131471;
	border-radius: 5px;
	background-color: rgba(248, 244, 244, 0.473);
	padding: 0 6px;
	cursor: pointer;
}

.backArrow {
	height: 0px;
	width: 0px;
	margin-top: 1px;
	margin-right: 3px;
	border-top: solid transparent 5px;
	border-bottom: solid transparent 5px;
	border-right: solid #1c1314 5px;
}

.backButton:hover {
	color: rgb(248, 244, 244);
	background-color: #1c1314;
	transition: 0.2s;
}

.backButton:hover .backArrow {
	border-right: solid rgb(248, 244, 244) 5px;
	transition: 0.2s;
}

.itemTitle {
	font-size: 2.25rem;
	font-weight: 600;
}

.video {
	aspect-ratio: 16 / 9;
	width: 100%;
}

.overview {
	width: 100%;
	max-width: 600px;
	font-size: 1.25rem;
	font-weight: 100;
}

.cover {
	height: 100%;
}
