.searchBar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	max-width: 700px;
	height: 2rem;
	font-size: 1rem;
	border: 3px #1c1314 solid;
	border-radius: 1rem;
	padding-left: 1rem;
}

.center {
	display: flex;
	justify-content: center;
}

.margin-top {
	padding-top: 1rem;
}

.categoryButtonSelected {
	margin: 0 1rem;
	background: none;
	color: inherit;
	border: none;
	border-bottom: 4px solid #1c1314;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	color: #1c1314;
	font-weight: 600;
	font-size: 20px;
	transition: 0.2s;
}
.categoryButton {
	margin: 0 1rem;
	background: none;
	color: inherit;
	border: none;
	border-bottom: 1px solid #1c1314;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	color: #1c1314;
	font-weight: 100;
	font-size: 18px;
	transition: 0.2;
}

.poster {
	width: 60%;
	height: 120%;
}

.itemContainer {
	width: 30%;
	height: 40%;
	padding: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 1px solid black;
}

.posterContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
