.searchBar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	max-width: 700px;
	height: 2rem;
	font-size: 1rem;
	border: 3px #1c1314 solid;
	border-radius: 1rem;
	padding-left: 1rem;
}

.center {
	display: flex;
	justify-content: center;
}

.margin-top {
	padding-top: 1rem;
}

.categoryButtonSelected {
	margin: 0 1rem;
	background: none;
	color: inherit;
	border: none;
	border-bottom: 4px solid #1c1314;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	color: #1c1314;
	font-weight: 600;
	font-size: 20px;
	transition: 0.2s;
}
.categoryButton {
	margin: 0 1rem;
	background: none;
	color: inherit;
	border: none;
	border-bottom: 1px solid #1c1314;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	color: #1c1314;
	font-weight: 100;
	font-size: 18px;
	transition: 0.2;
}

.poster {
	height: 300px;
	text-align: center;
	line-height: 300px;
	border-radius: 5px;
	text-decoration: underline;
}

.itemContainer {
	width: 30%;
	min-width: 15rem;
	height: 400px;
	padding: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* box-shadow: 5px 3px 1px rgba(177, 175, 175, 0.619); */
	border-radius: 0.5rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	margin-bottom: 2rem;
	cursor: pointer;
	background-color: rgb(248, 244, 244);
	color: #1c1314e5;
	font-size: 1.5rem;
	font-weight: 600;
	text-align: center;
}

.posterContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: wrap row;
	width: 100%;
	max-width: 1200px;
	padding-left: 1rem;
	padding-right: 1rem;
}
